main{
    display: grid;
}

main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
    border: 5px solid white;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(182,54,106);
}
.block.block2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(114,110,166);
}
.block.block3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(125,141,194);
}
.block.block4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(161,210,218);
}

@media screen and (min-width: 321px) {
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgb(182,54,106);
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(114,110,166);
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(125,141,194);
    }
    .block.block4{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: rgb(161,210,218);
    }
}

@media screen and (min-width: 773px) {
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(182,54,106);
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(114,110,166);
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgb(125,141,194);
    }
    .block.block4{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: rgb(161,210,218);
    }
}

@media screen and (min-width: 993px) {
    main{
        grid-template-columns: 1fr 2fr;
    }

    .block.block1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(182,54,106);
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgb(114,110,166);
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(125,141,194);
    }
    .block.block4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(161,210,218);
    }
}