body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 95%;
}

.top {
    height: 200px;
    background: url("../Images/bgsky3.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
    color: darkblue;
}

.top img {
    position: absolute;
    margin-right: 90px;
    bottom: 60px;
}

.top h1 {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

.top p {
    font-size: 240%;
    font-weight: bold;
}

.news {
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    float: right;
}

.news p {
    color: #666666;
    font-size: 90%;
    margin: 0 10px;
}

.news h3 {
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

.main {
    width: 75%;
    margin-left: 10px;
}

.logo-introduction {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px 20px 20px 30px;
}

.logo-introduction img {
    margin-right: 20px;
}

.logo-introduction span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    background-color: #999999;
}

.gallery .foto {
    width: 180px;
    height: 180px;
    margin: 20px 20px 20px 30px;
    position: relative;
}

.gallery img {
    width: 100%;
    border: 1px dashed white;
}

.bottom {
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding-left: 120px;
    padding-top: 0;
}

.documentary ul ul {
    margin-left: 20px;
}

.documentary a {
    color: white;
}

.bottom a:hover {
    color: red;
}

.copyright {
    text-align: center;
    background-color: white;
    padding: 0;
}

.copyright p {
    color: black;
    text-align: center;
    background-color: white;
    padding: 0;
}