body
{
    font-family: Arial, sans-serif;
    font-size: 1.25em;
}

article
{
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid black;
}

h2
{
    margin: 0;
    clear: both;
}

.links
{
    float: left;
}

.rechts
{
    float: right;
}

img{
    display: inline-block;
    padding-right: 10px;
}