/** Volgende CSS gaan we ze geven **/
*{
    font-family: Helvetica, sans-serif;
}

body{
    width: auto;
}

.respimg {
    width: 100%;
    height: auto;
    display: block;
}

h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    width: auto;
}

nav{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}

nav div{
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.logo, nav, section{
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 150%;
    margin-bottom: 1em
}

header{
    text-align: center;
}

a{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5b4746;
    border-right: 1px solid #ebe8e8;
    list-style: none;
    font-size: 13px;
}

a:hover{
    text-decoration: underline 2px #fff100;
}

.mainheader{
    background-image: url("../images/headerimage.jpg");
    border-top: 1px solid #ebe8e8;
    background-size: cover;
    width: auto;
    height: 500px;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    line-height: 500px;
    text-align: center;
    text-shadow: #8D99AE 2px 2px;
}

a:last-child{
    border: none;
}

.logo{
    border-bottom: 1px solid #ebe8e8;
}

article{
    margin-right: 150%;
    padding-top: 100%;
    border-top: 1px solid #ddd;
}

section{
    margin-top: 50px;
}

@media screen and (max-width: 769px) {
    header, nav, section{
        width: 600px;
    }
}

@media screen and (min-width: 770px) and (max-width: 999px) {
    header, nav, section{
        width: 750px;
    }
}

@media screen and (min-width: 1000px) {
    header, nav, section{
        width: 980px;
    }
}

@media screen and (min-width: 801px) {
    .mainheader{
        font-size: 5em;
        text-align: center;
    }
}