body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

td {
    background-color: #fff;
}

.dag-hoofding {
    color: rgb(200, 190, 240);
    background-color: rgb(35, 37, 70);
}

.vorige-maand {
    color: #999;
    background-color: lightgray;
}

tr:nth-child(3) td:first-child, tr:nth-child(4) td:first-child, tr:nth-child(5) td:first-child, tr:nth-child(6) td:first-child, tr:nth-child(2) td:last-child, tr:nth-child(3) td:last-child, tr:nth-child(4) td:last-child, tr:nth-child(5) td:last-child {
    background-color: rgb(255, 220, 220);
}

.vrije-dag {
    background-color: rgb(250, 120, 120);
}

.maand-hoofding {
    background-color: rgb(170, 170, 200);
}