html {
    background-color: #333;
    font-family: helvetica, sans-serif;
}

* {
    padding: 10px;
}

header, footer{
    background: #ddaa00;
}

a {
    color: #ddaa00;
}

nav{
    background-color: #ccc;
}

main{
    background-color: grey;
}

body{
    font-size: 1em;
}